
<div class="main-content">
    {{>header}}

    <p>Use this site to get your weather!</p>
    <form>
        <input type="text" placeholder="enter your address">
        <button>Search</button>
    </form>

    <p id="message_one">

    </p>

    <p id="message_two">

    </p>
</div>

{{>footer}}
